# Backend
API/bin/
API/obj/
API/appsettings.json
Application/bin/
Application/obj/
Domain/bin/
Domain/obj/
Infrastructure/bin/
Infrastructure/obj/
Persistence/bin/
Persistence/obj/

# Frontend
reactivities-ui/node_modules/
reactivities-ui/.env*
reactivities-ui/localhost.pem
reactivities-ui/localhost-key.pem

# Reactivities Folder
.vs/

# General
*.user
*.suo
*.cache
*.log
.DS_Store

# Docker
*.env
docker-compose.override.yml
.dockerignore
docker-compose.logs

# WWWRoot folder
API/wwwroot/